<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kakaomap.listMapper">

    <insert id="listSave" parameterType="list">
        insert into listmap values (LPAD(LIST_SEQ.NEXTVAL, 5, 0), '6933', '1', #{latitude}, #{longitude}, '테스트')
    </insert>

    <select id="findAll" parameterType="list" resultType="klist">
        select * from listmap where user_num = 6933 and board_num = 1
        order by map_num
    </select>

</mapper>
